window-rule {
 	match app-id="zen-beta$" title="^Картинка в картинке$"
 	match title="^Picture-in-Picture$"
 	open-floating true
 	default-floating-position x=32 y=32 relative-to="top-right"
 	block-out-from "screen-capture"
 	open-focused false
 }

 window-rule {
 	match app-id="firefox"
 	match app-id="zen-beta"
 	open-maximized true
 	open-on-workspace "browser"
 }

 window-rule {
   match app-id="org.gnome.Calculator"
 	default-column-width { fixed 4; }
 	default-window-height { fixed 4; }
 	open-floating true
}
 
